@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap");

:root {
  --baby-powder: #fffbf6;

  --primary-light-blue: #b3d3ef;
  --primary-dark-blue: #6699cc;
  --primary-light-tint: #e6f0fa;
  --contrast-coral: #ff6f61;
  --contrast-dark-gray: #4a4a4a;

  --main-bg-color: #e6f0fa;
  --content-bg-color: rgba(179, 211, 239, 0.8);

  --contrast-purple: #6a1b9a;

  --primary-light-blue: #b3d3ef;
  --primary-white: #ffffff;
  --light-gray: #f7f7f7;

  --primary-light-blue: #b3d3ef;
  --primary-dark-blue: #4a4a4a;
  --main-bg-color: #ffffff;
  --light-gray: #f7f7f7;

  --content-bg-color: #ffffff;
  --content-border-color: #e0e0e0;
  /* #99c7e6;*/
}

html {
  font-size: 50%;
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-dark-blue);
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* This makes the main content take up remaining space */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 2.8rem;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: var(--primary-light-blue);
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  color: var(--main-bg-color);
}

.nav-link:hover {
  color: var(--contrast-coral);
}

.footer {
  background-color: var(--primary-dark-blue);
  color: var(--main-bg-color);
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  font-size: 1.2rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem
}

.container {
  margin-top: 20px;
}

.content-wrapper {
  background-color: var(--content-bg-color);
  border: 1px solid var(--content-border-color);
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.card {
  background-color: var(--main-bg-color);
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.card-title {
  color: var(--primary-dark-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.card-text {
  color: var(--primary-dark-blue);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
  background-color: var(--light-gray);
}

.card-body {
  padding: 20px;
}

.btn {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background-color: var(--primary-light-blue);
  border: none;
  color: var(--primary-dark-blue);
}

.btn-primary:hover {
  background-color: #99c7e6;
  border: none;
}

.btn-primary:active {
  transform: scale(1.05);
}

.btn-secondary {
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--main-bg-color);
}

.btn-secondary:hover {
  background-color: #404040;
  border: none;
}

.btn-secondary:active {
  transform: scale(1.05);
}

/* Responsive text scaling */
@media (min-width: 34rem) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 44rem) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  .btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 59rem) {
  html {
    font-size: 68.75%;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  .btn {
    font-size: 1.8rem;
  }
}

@media (min-width: 75rem) {
  html {
    font-size: 75%;
  }

  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }
}
