.profile-page {
  background-color: var(--baby-powder);
  min-height: 100vh;
  padding: 2rem;
}

.profile-sidebar {
  background-color: var(--light-cyan);
  padding: 2rem;
  border-radius: 0.3rem;
}

.profile-section {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.section-icon {
  color: var(--dark-blue);
  margin-right: 1rem;
}


.profile-liked-dogs {
  background-color: var(--hunyadi-yellow-tint4);
}

.profile-adoption-applicaitons {
  background-color: var(--primary-dark-blue);
}

.profile-update-form {
  background-color: var(--hunyadi-yellow-tint4);
}

.user-info-card {
  background-color: var(--light-cyan);
}

.profile-update-form-card {
  background-color: var(--baby-powder);
}