.profile-page {
  background-color: var(--baby-powder);
  min-height: 100vh;
  padding: 20px;
}

.profile-sidebar {
  background-color: var(--light-cyan);
  padding: 20px;
  border-radius: 3px;
}

.profile-section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.section-icon {
  color: var(--dark-blue);
  margin-right: 10px;
}


.profile-liked-dogs {
  background-color: var(--hunyadi-yellow-tint4);
}

.profile-adoption-applicaitons {
  background-color: var(--primary-dark-blue);
}

.profile-update-form {
  background-color: var(--hunyadi-yellow-tint4);
}

.user-info-card {
  background-color: var(--light-cyan);
}

.profile-update-form-card {
  background-color: var(--baby-powder);
}